@import url("https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	border: none;
	font-family: "Monomaniac One", sans-serif;
}
body {
	position: relative;
	background-color: #20bbe5;
}
.opa {
	display: block;
	z-index: 10;
	height: 100vh;
	width: 100%;
	background-color: #7b3334;
}
.home {
	position: absolute;
	top: 15vh;
	left: 21vw;
	display: flex;
	flex-direction: column;
	z-index: 15;
	background-color: #fff;
	border-radius: 52px;
	border: 3px solid #000;
	overflow: hidden;
	-webkit-box-shadow: 8px 8px 3px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 8px 8px 3px 0px rgba(0, 0, 0, 0.3);
}
.header-home {
	background-color: #29267b;
	color: #fff;
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 32px 0;
}
h1 {
	font-size: 48px;
	font-weight: normal;
}
.a {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 32px 0 42px 48px;
	width: 56%;
}
.a div {
	display: flex;
	flex-direction: column;
	gap: 8px;
	color: #878787;
}
h2 {
	color: #525253;
}
span {
	color: #525253;
	font-weight: 700;
}
ul {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
p,
li {
	font-size: 16px;
}
li {
	color: #878787;
}
.div-btn-play {
	display: flex;
	justify-content: center;
}
button {
	cursor: pointer;
	font-size: 36px;
	color: #fff;
	width: 25%;
	border-radius: 999px;
	background-color: #7cd354;
	padding: 15px 0;
	margin-bottom: 24px;
	-webkit-box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.7);
	box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.7);
}
